    <!-- About Section -->
    <section id="about" class="bg-primary text-center">
	    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Amsterdam, Netherlands &mdash; 22 April 2017</h2>


<h2>Science – Not Silence</h2>
<p>
It is time for scientists, science lovers, and concerned citizens to gather and make ourselves heard! With The
March for Science we want to celebrate our passion for science, call for support and safeguard the scientific
community.<br>

We see an alarming trend toward discrediting scientific consensus and restricting scientific discovery. The
mischaracterization of science as a partisan issue, which has given policymakers permission to reject overwhelming
evidence, is a critical and urgent matter. This is becoming a global problem. Staying silent is a luxury we can no
longer afford.  It is time for people who support scientific research and evidence-based policies to take a public
stand and be counted.<br>
</p>
<br>
<p>
On April 22nd 2017 we will walk out of the lab and into the streets!<br>
In Amsterdam we will March at Museumplein.<br>
</p>
<br>
<p>
We need to bring awareness to the community and higher bodies that science is important, in every layer of
society, even though this is not always directly perceivable. We should all recognize that science is everywhere,
and anti-science agendas and policies harm everyone — without exception. We invite scientists and science-lovers
to join us in Amsterdam for main stage speakers and &quot;teach-in&quot; tents, where a diverse group of science educators
and scientists representing many fields will speak to the public about ongoing research and its vital importance in
our everyday lives. We encourage scientists to reach out to their communities, sharing their research and its
impact on people&#39;s everyday lives. We must take science out of the labs and journals and share it with the world.
During the March For Science we will bring forward a pro-science ambiance together, to show the world we care.
</p>

               </div>
               </div>
        </div>
    </section>
