    <!-- About Section -->
    <section id="acknowledgements" class="text-center">
	    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
		    <div class="section-heading"><h2>Our acknowledgment</h2></div>
                <p>March for Science Netherlands recognises the traditional custodians of the European continent. We recognise that science and scientific pursuits have been used in the past to disenfranchise many minority groups. We are committed to the promotion of science, now and in the future, as an endeavour which all persons have the right to pursue and enjoy the fruits of, regardless of age, gender, ethnicity, disability, sexual orientation, religion or lack thereof, political affiliation, or socioeconomic status. Science belongs to all people, and should be done for all people. Diversity can only strengthen and enrich scientific inquiry, and the inclusion of all peoples and the promotion of equal opportunities within science should be a goal pursued by scientists and non-scientists alike.</p>
                <br/>
            </div>
            </div>
        </div>
    </section>
