  <section id="organization">
    <!-- Header -->
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <button id="btn" type="button" class=
          "btn btn-default-xs pull-right" onclick=
          "toggleLang()">nl</button><br>
        </div>
        <div class="row">
          <div class=
          "col-sm-12">
            <div class="en">
              <p><strong>Donations</strong><br></p>
            </div>
            <div class="nl">
              <p><strong>Donaties</strong><br></p>
            </div>
	    <br>
	    <div class="en">
		    <p>Direct money transfer (by bank) is possible to the following account:</p>
            </div>
	    <div class="nl">
		    <p>Rechtsreeks geld overmaken naar de rekening is mogelijk:</p>
	    </div>
	    <p>
	    <strong>IBAN:&nbsp</strong>NL 64 INGB 0007735006<br>
	    <strong><span class="en">Name</span><span class="nl">Naam</span>:&nbsp</strong>March for Science NL
	    </p>
<div class="en">
<p>Donations via PayPal are  possible, using the button below</p>
</div>
<div class="nl">
<p>Donaties via PayPal zijn ook mogelijk via onderstaande knop</p>
</div>
<p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8VAK6DZJF9ZT4">
<input type="image" src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
</form>
</p>
          </div>

        </div>
      </div><!-- /.container -->
    </div><!-- /.intro-header -->
  </section>
  <script>
  function toggleLang() {
        if ($("#btn").text() == "nl") {
                $(".en").hide();
                $(".nl").show();
                $("#btn").text("en");
        } else {
                $(".en").show();
                $(".nl").hide();
                $("#btn").text("nl");
        };
  }
  </script>
