<section id="newsarchive">     
  <div class="intro-header">
    <div class="container">
        <div class="row">
          <h1>Endorsements</h1>
	  <p>Below is a list of organisations that support us.</p>
          <div id="myTagContainer">
<canvas id="myTag" width=600 height=300>
          <ul>
            {% for endorsement in site.data.endorsements %}
                <li>
                  <a class="tagLink" href="{{ endorsement.link }}" target="_blank">{{ endorsement.name }}</a>
                </li>
            {% endfor %}
          </ul>
</canvas>
          </div>
        </div>
        <div class="row">
          <h1>Sponsors</h1>
          <p>The organisations below support us financially.</p>
	    {% for sponsor in site.data.sponsors %}
              {% capture modulo %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
              {% if modulo == '0' or forloop.first %}
                <div class="row">
              {% endif %}
                <div class="col-lg-4"><p>
                <a href="{{ sponsor.link }} target="_blank""><img src="/img/{{ sponsor.logo }}"></a>
                </p></div>
              {% if modulo == '2' or forloop.last %}
                </div>
              {% endif %}
	    {% endfor %}
	</div>
    </div>
  </div>
</section>

 <script type="text/javascript">
  window.onload = function() {
    try {
      TagCanvas.textColour = '#ff0000';
      TagCanvas.initial = [0.1,-0.05];
      TagCanvas.Start('myTag');
    } catch(e) {
      // something went wrong, hide the canvas container
      document.getElementById('myTag').style.display = 'none';
    }
  };
 </script>
