<section id="newsarchive">     
  <div class="intro-header">
    <div class="container">
        <div class="row">
          <h1>Endorsements</h1>
	  <p>Below is a list of organisations that support us.</p>
          <ul>
            {% for post in site.posts %}
	      {% if post.category == "endorsement" %}
                <li class="item">
                  <strong>{{ post.title }}</strong><br>
                  {{ post.content }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="row">
          <h1>Sponsors</h1>
          <p>The organisations below support us financially.</p>
	    {% for sponsor in site.data.sponsors %}
              {% capture modulo %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
              {% if modulo == '0' or forloop.first %}
                <div class="row">
              {% endif %}
                <div class="col-lg-4"><p>
                <a href="{{ sponsor.link }}"><img src="/img/{{ sponsor.logo }}"></a>
                </p></div>
              {% if modulo == '2' or forloop.last %}
                </div>
              {% endif %}
	    {% endfor %}
	</div>
    </div>
  </div>
</section>
