<!-- jQuery Version 1.11.0 -->
<script src="/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/landing-page.js"></script>

<script>
   function toggleTwitter() {
    var panel = $('#twitterbox');
    if (panel.hasClass("visible")) {
      panel.removeClass("visible").animate({'margin-right': '-300px'});
      $('#opener').text('Show twitter feed');
    } else {
      panel.addClass("visible").animate({'margin-right': '0px'});
      $('#opener').text('Hide twitter feed');
    }
    return false;
  }
</script>


<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(101032324); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101032324ns.gif" /></p></noscript>
