    <!-- About Section -->
    <section id="media" class="bg-primary text-center">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Amsterdam, Netherlands &mdash; 22 April 2017</h2>
              <h3>Facts benefit Society<br/> More information soon</h3>
<!--               <br/>
                <p>Put some stuff in _includes/about.html</p>
                <br/>
 -->              </div>
        </div>
        </div>
    </section>
