  <section id="mediacoverage">
    <!-- Header -->
    <div class="intro-header">
      <div class="container">
        <div class="row">
		<p>Below are link's to media where the Dutch march is mentioned</p>
		<ul>
{% for item in site.data.mediacoverage %}
<li class="item"><strong>{{ item.date }}</strong> &sdot; <a href="{{ item.link }}" target="_blank">{{ item.description }}</a></li>
{% endfor %}
		</ul>
        </div>
      </div><!-- /.container -->
    </div><!-- /.intro-header -->
  </section>
