<section id="language">
    <div class="container">
        <button id="btn" type="button" class="btn btn-default-xs pull-right"
        onclick="toggleLang()">nl</button><br>
    </div>
</section>

<section id="keynote">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <img class="img-responsive" src="/img/tents/logo_header.jpg">
      </div>
      <div class="row">
        <h1><div class="en">MAIN STAGE</div><div class="nl">OP HET PODIUM</div></h1>
      </div>
      {% for speaker in site.data.speakers %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      <div class="row">
        {% if thecycle == 'odd' %}
          <div class="col-lg-2"><img class="img-responsive" src="/img/tents/{{ speaker.image }}"></div>
          <div class="col-lg-10">
            <p>
              <h5><div class="en">{{ speaker.title_en }}</div><div class="nl">{{ speaker.title_nl }}</div></h5>
            </p>
            <p>
              <div class="en">{{ speaker.text_en }}</div>
              <div class="n">{{ speaker.text_nl }}</div>
            </p>
          </div>
        {% else %}
          <div class="col-lg-10">
            <p>
              <h5><div class="en">{{ speaker.title_en }}</div><div class="nl">{{ speaker.title_nl }}</div></h5>
            </p>
            <p>
              <div class="en">{{ speaker.text_en }}</div>
              <div class="n">{{ speaker.text_nl }}</div>
            </p>
          </div>
          <div class="col-lg-2"><img class="img-responsive" src="/img/tents/{{ speaker.image }}"></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>


  <section id="tents">
    <!-- Header -->
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <h1><div class="en">Our tent contributors</div><div class="nl">In de tenten zijn te vinden</div></h1>
        </div>
{% for tc in site.data.tent_contributors %}
<div class="row">
  <div class="col-lg-2"><img class="img-responsive" src="/img/tents/{{ tc.image }}"></div><div class="col-lg-10">
  {% if tc.text_en %}
    {% if tc.text_en and tc.text_nl %}
      <div class="en">
    {% endif %}
    {{ tc.text_en|markdownify }}
    {% if tc.text_en and tc.text_nl %}
      </div>
    {% endif %}
  {% endif %}
  {% if tc.text_nl %}
    {% if tc.text_en and tc.text_nl %}
      <div class="nl">
    {% endif %}
    {{ tc.text_nl|markdownify }}
    {% if tc.text_en and tc.text_nl %}
      </div>
    {% endif %}
  {% endif %}
  </div>
</div>
<p></p>
{% endfor %}
      </div><!-- /.container -->
    </div><!-- /.intro-header -->
  </section>

  <script>
  function toggleLang() {
        if ($("#btn").text() == "nl") {
                $(".en").hide();
                $(".nl").show();
                $("#btn").text("en");
        } else {
                $(".en").show();
                $(".nl").hide();
                $("#btn").text("nl");
        };
  }
  </script>
