  <section id="organization">
    <!-- Header -->
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <button id="btn" type="button" class=
          "btn btn-default-xs pull-right" onclick=
          "toggleLang()">nl</button><br>
        </div>
        <div class="row">
          <div id="en">
            <p><strong>It is time for scientists and concerned
            citizens to gather and be heard!</strong><br></p>
            <p>Science is a fundamental tool for seeking answers,
            and values the objective weighing of evidence. It
            serves no special interests, nor should it be rejected
            based on opinions. Science values the notion that
            through rational inquiry and the rejection of
            superstition and prejudice, humanity can make real
            progress.</p>
            <p style="text-indent: 2em">Currently, these values are
            under threat, as we see an alarming trend toward
            discrediting scientific consensus and restricting
            scientific discovery. Anti-intellectualism has been
            subtle for years, but now is rising faster than ever,
            and cannot be denied anymore. Inconvenient facts are
            shamelessly replaced with “alternative facts”. Entire
            movements refute scientific evidence by denying climate
            change, blaming vaccines for the development of autism,
            writing away evolution as just a theory, claiming
            homosexuality to be a willful choice, and finding the
            white race to be genetically superior. Rejection of
            overwhelming evidence by policy makers and opinion
            leaders is a critical and urgent matter. This is
            becoming a global problem. In the US, publicly funded
            scientists are censored and silenced under policies of
            the new administration. In Turkey thousands of
            academics are jailed. The Dutch parliament has recently
            approved a resolution to monitor political preferences
            in scientists. The tobacco industry has undermined or
            manipulated scientific evidence. Worldwide
            anti-immigration sentiments are threatening the spirit
            of international communication and collaboration,
            hampering the free-flow of people and ideas which are
            the keystone of modern science. These are many symptoms
            of the global problem.</p>
            <p style="text-indent: 2em">For far too long,
            scientists and supporters of science have remained
            silent in the face of policies which ignore scientific
            evidence, and endanger human life and the future of our
            world. Today, staying silent is a luxury we can no
            longer afford. It is time for everyone who supports
            scientific research and evidence-based policies to
            speak out for the values they believe in, for the sake
            of society, as citizens of the world. We need to bring
            awareness to the community and higher bodies that
            science is important, and it is everywhere, in every
            layer of society, even though this is not always
            directly perceivable. Importantly, science should not
            be partisan, left nor right, progressive nor
            conservative, and should not be controlled by
            governmental politics. It is a method for discovering
            the actual truth of things, regardless of ideology and
            regardless of authority. Nonetheless, for science to
            remain free from political influence, scientists need
            to engage with politics – now more than ever.</p>
            <p style="text-indent: 2em">Worldwide, dozens of cities
            have started to organize a march for science, ready to
            take to the streets in support of science. We will
            march on April 22, 2017, Earth Day. With The March for
            Science we want to celebrate our passion for science,
            call for support, and safeguard the scientific
            community. What unites us is a love of science, and a
            limitless curiosity. The March For Science is about the
            crucial role science plays in each of our lives, and
            about the need to respect and encourage research that
            gives us insight into the world. We are committed to
            promote science and highlight diversity. We must work
            to make science available to everyone, and encourage
            individuals of all backgrounds to engage in science,
            regardless of age, gender, ethnicity, disability,
            sexual orientation, religion or lack thereof, political
            affiliation, or socioeconomic status. A diverse group
            of scientists generates progressively diverse research,
            which broadens, strengthens, and enriches scientific
            investigation, and therefore, our understanding of the
            world.</p>
            <p style="text-indent: 2em">We invite scientists,
            concerned citizens and all science lovers to join us on
            April 22nd at the Museumplein in Amsterdam. There will be a
            diverse group of science educators and scientists
            representing many fields speaking to the public about
            ongoing research and its vital importance in our
            everyday lives. We encourage scientists to reach out to
            their communities, to share their research and its
            impact on people's everyday lives, and to mobilize
            together in the march. We must take science out of the
            labs and offices and share it with the world. During
            the March For Science we will bring forward a
            pro-science ambiance together, to show the world that
            evidence-based science is the fundament of democratic
            decision making.</p>
            <p style="text-indent: 2em">The March For Science
            champions science, but it is only the beginning of the
            process towards encouraging the belief in, and
            application of science in policy. Our enthusiasm and
            commitment to science will not end after the march! The
            most effective way to protect science along the way is
            to encourage the public to value it and invest in it.
            This can be achieved through science education,
            communication and mutual respect between scientists and
            their communities.</p>
          </div>
          <div id="nl" style="display: none">
            <p><strong>Het is tijd voor wetenschappers en
            medestanders om samen gehoord te
            worden!</strong><br></p>
            <p>Wetenschap is een cruciaal onderdeel in het zoeken
            naar antwoorden en hecht waarde aan het objectief wegen
            van bewijsstukken. Zij dient geen speciale interesses,
            noch mag zij afgewezen worden op basis van meningen.
            Wetenschap zorgt ervoor dat de mensheid vooruitgang
            boekt door middel van rationeel onderzoek en door het
            afwijzen van bijgeloof en vooroordelen.</p>
            <p style="text-indent: 2em">De laatste tijd worden deze
            waarden in gevaar gebracht. Dit is te zien aan de
            verontrustende trend waarin wetenschappelijke consensus
            minacht wordt, en aan de inperking van
            wetenschappelijke ontdekkingen. Anti-intellectueel
            gedachtegoed is al jaren subtiel aanwezig geweest, maar
            groeit nu sneller dan ooit en kan niet langer meer
            ontkend worden. Ongelegen feiten worden schaamteloos
            vervangen door alternatieve feiten. Hele bewegingen
            negeren bijvoorbeeld wetenschappelijk bewijs door
            klimaatverandering te ontkennen, door te beweren dat
            vaccinaties autisme veroorzaken, door het afschrijven
            van evolutie als slechts een theorie, door het claimen
            dat homoseksualiteit een keuze is en door het
            verkondigen dat het blanke ras genetisch superieur zou
            zijn. Dat beleidsmakers en opinieleiders onoverkomelijk
            bewijs afwijzen, is een kritische en urgente zaak. Dit
            is een globaal probleem aan het worden. In de Verenigde
            Staten worden publiek gefinancierde wetenschappers
            gecensureerd en de mond gesnoerd onder de politiek van
            de nieuwe overheid. In Turkije worden duizenden
            academici gevangen gehouden. In Nederland heeft de
            Tweede Kamer recentelijk ingestemd met een resolutie
            die toezicht wil houden op de politieke voorkeuren van
            wetenschappers. Wereldwijd bedreigen anti-immigratie
            bewegingen de praktijk en de geest van internationale
            communicatie en samenwerking, waardes die de
            wetenschappelijke praktijk mogelijk maken.</p>
            <p style="text-indent: 2em">Wetenschappers en
            medestanders zijn al veel te lang stil geweest, terwijl
            de politiek wetenschappelijk bewijs negeert en zowel
            menselijk leven als de toekomst van onze wereld in
            gevaar brengt. Stil blijven is een luxe die we ons niet
            meer kunnen permitteren. Nu is de tijd daar dat
            iedereen die wetenschappelijk onderzoek en op feiten
            gebaseerd beleid ondersteunt zich uitspreekt voor deze
            waarden, omwille van de maatschappij, als
            wereldburgers. We moeten de samenleving en de hogere
            instanties ervan bewust maken dat wetenschap belangrijk
            is, overal, in elke laag van de maatschappij. Het is
            belangrijk dat wetenschap onpartijdig is, links noch
            rechts, progressief noch conservatief, en dat het niet
            gecontroleerd wordt door overheidspolitiek. Wetenschap
            is een methode om dingen te ontdekken, ongeacht
            ideologie en ongeacht autoriteit. Niettemin, om te
            verzekeren dat wetenschap vrij blijft van politieke
            invloeden, moeten wetenschappers zich gaan bezighouden
            met de politiek- nu meer dan ooit.</p>
            <p style="text-indent: 2em">Wereldwijd zijn honderden
            steden al begonnen met het organiseren van The March
            For Science, een mars voor de wetenschap, klaar om over
            de straten te gaan om wetenschap te steunen. Wij lopen
            allemaal op 22 april 2017, Earth Day. Met de March For
            Science willen wij onze passie voor de wetenschap
            vieren, om steun vragen en de wetenschappelijke
            gemeenschap beschermen. Wij worden verbonden in een
            liefde voor wetenschap en een onbegrensde
            nieuwsgierigheid. De March For Science gaat over de
            cruciale rol die wetenschap speelt in al onze levens en
            de noodzaak om onderzoek te respecteren dat ons inzicht
            in de wereld geeft. Wij zijn toegewijd aan het promoten
            van wetenschap en het benadrukken van diversiteit. We
            moeten ons best doen om wetenschap toegankelijk te
            maken voor iedereen en individuen van alle
            achtergronden. We willen iedereen aanmoedigen zich
            bezig te houden met wetenschap, ongeacht leeftijd,
            gender, etniciteit, handicap, seksuele oriëntatie,
            religie of het ontbreken daarvan, politieke voorkeur of
            socio-economische status. Een diverse groep
            wetenschappers genereert divers onderzoek, wat
            wetenschappelijk onderzoek verbreedt, versterkt en
            verrijkt, en daarmee ons begrip van de wereld.</p>
            <p style="text-indent: 2em">Wij nodigen wetenschappers,
            bezorgde burgers en alle liefhebbers van de wetenschap
            uit om zich bij ons te voegen op 22 april 2017 op het
            Museumplein in Amsterdam. Een
            diverse groep hoogleraren en andere wetenschappers, die
            de vele kanten van de wetenschap vertegenwoordigen, zal
            spreken over lopend onderzoek en de essentiële rol die
            het speelt in ons dagelijks leven. We nodigen
            wetenschappers uit om naar hun eigen omgeving uit te
            reiken, om hun onderzoek en de impact die het heeft op
            het dagelijks leven te delen, en samen te komen in de
            mars. We moeten wetenschap uit de laboratoria en
            kantoren halen en het delen met de wereld. Tijdens de
            March of Science zullen we samen een pro-wetenschap
            atmosfeer uitdragen, om de wereld te laten zien dat op
            feiten gebaseerde wetenschap het fundament is van de
            democratie.</p>
            <p style="text-indent: 2em">De March For Science komt
            op voor de wetenschap, maar het is slechts het begin
            van een proces waarin we het vertrouwen en de
            toepassing van wetenschap in beleidsvorming
            aanmoedigen. Ons enthousiasme en inzet voor wetenschap
            zal niet eindigen na de mars! De meest effectieve
            manier om wetenschap te blijven beschermen is om het
            publiek aan te moedigen om het te waarderen en erin te
            investeren. Dit kan bereikt worden door middel van
            wetenschapsonderwijs, communicatie en onderling respect
            tussen wetenschappers en hun omgeving.</p>
          </div>
        </div>
      </div><!-- /.container -->
    </div><!-- /.intro-header -->
  </section>
  <script>
  function toggleLang() {
        if ($("#btn").text() == "nl") {
                $("#en").hide();
                $("#nl").show();
                $("#btn").text("en");
        } else {
                $("#en").show();
                $("#nl").hide();
                $("#btn").text("nl");
        };
  }
  </script>
