  <section id="support" class="bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br>
          <h2>Support</h2>
          <p>If you would like to contact us, or get involved in
          any way,<br>
          then please fill-out the form below and we will get in
          touch with you.</p>
          <form action=
          "//facebook.us15.list-manage.com/subscribe/post?u=6f5ee361725aee04f2478e8f7&id=53921d177b"
          method="post" class="form-horizontal">
            <div class="form-group">
              <label for="EMAIL" class=
              "control-label col-sm-3">Email Address</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input type="email" value="" name="EMAIL" class=
                  "form-control" id="EMAIL">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Full
              name</label>
              <div class="col-sm-4">
                <input type="text" value="" name="FNAME" class=
                "form-control" placeholder="First name">
              </div>
              <div class="col-sm-4">
                <input type="text" value="" name="LNAME" class=
                "form-control" placeholder="Last name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Organisation
              (optional)</label>
              <div class="col-sm-8">
                <input type="text" value="" name="MMERGE4" class=
                "form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Field of
              Research (optional)</label>
              <div class="col-sm-8">
                <input type="text" value="" name="MMERGE5" class=
                "form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">I am a</label>
              <div class="col-sm-8">
                <select name="MMERGE3" class="form-control">
                  <option value="">
                    </option>
                  <option value="Science Enthusiast">
                    Science Enthusiast
                  </option>
                  <option value="Science Communicator/Press">
                    Science Communicator/Press
                  </option>
                  <option value="Science Administrator">
                    Science Administrator
                  </option>
                  <option value="Student">
                    Student
                  </option>
                  <option value="Teacher">
                    Teacher
                  </option>
                  <option value="Researcher">
                    Researcher
                  </option>
                  <option value="PhD student">
                    PhD student
                  </option>
                  <option value="Postdoc">
                    Postdoc
                  </option>
                  <option value="Assistant/Associate Prof">
                    Assistant/Associate Prof
                  </option>
                  <option value="Full Professor">
                    Full Professor
                  </option>
                  <option value="Other">
                    Other
                  </option>
                </select>
              </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"
            aria-hidden="true">
              <input type="text" name=
              "b_6f5ee361725aee04f2478e8f7_53921d177b" tabindex=
              "-1" value="">
            </div>
            <div class="col-sm-offset-3 col-sm-8">
              <button type="submit" class=
              "btn btn-default">Signup</button>
            </div>
          </form>
        </div><br>
      </div>
    </div>
  </section>
